.imagenesPaseos{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.imagenesGastronomia{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.food_item{
    
}

.food_titles{
    margin-bottom: 0px;
}